/* ---------------------------------------
------------------------------------------------------
Shared Nav / footer---------------------------
------------------------------------------------------
---------------------------------------*/
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: white;
  font-family: "Poppins", sans-serif;
}

.logo {
  color: rgb(224, 224, 224);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
  width: 60%;
  height: 60%;
}

.logoTop {
  height: 50%;
  width: 60%;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 40%;
  z-index: 20;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: black;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(224, 224, 224);
  margin: 5px;
  transition: all 0.3 ease;
}

/* -----------------------------------------
-----------------------------------------
NAV Functionality-----------
-----------------------------------------
-----------------------------------------*/
@media screen and (max-width: 900px) {
  body {
    overflow-x: hidden;
  }

  .nav-links {
    position: absolute;
    right: 0;
    height: 300px;
    top: 8vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li {
    opacity: 0;
  }

  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(0%);
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* ------------------------------------------
-----------------------------------------
End Nav-------------------------------------
-----------------------------------------
-----------------------------------------*/
/* -----------------------------------------
-----------------------------------------
Home Mobile
-----------------------------------------
-----------------------------------------*/

.logoTop {
  width: 80px;
}

.home-top {
  height: 500px;
}
.home-slide1 {
  height: 500px;
  background: url(/assets/home/mobile/image-hero-paramour.jpg) no-repeat;
  background-size: cover;
}
.home-topWU1 {
  color: white;
  padding: 15% 5%;
}
.home-topH1 {
  font-size: 45px;
  font-weight: 900;
  color: black;
}

.home-topH3 {
  font-size: 35px;
  margin-bottom: 10%;
  font-weight: 900;
  /* margin-top: %; */
  color: white;
}
.home-topBtn {
  /* margin-top: 5%; */
  width: 75%;
  height: 60px;
  color: white;
  background-color: black;
  padding-top: 20px;
  font-size: 15px;
}

.arrowSVG {
  color: white;
}

.home-bigH1 {
  display: none;
}
.home-WUH2 {
  font-size: 50px;
  text-align: left;
  margin-left: 5%;
}
.home-WUP {
  font-size: 20px;
  width: 90%;
  margin: auto;
}
.home-about {
  margin-top: 10%;
  height: 100px;
  background-image: url(/assets/home/mobile/image-small-team.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30% 5% 40%;
}

.home-aboutH1 {
  text-align: left;
  font-size: 50px;
  font-weight: 800;
  color: white;
  margin-bottom: 5%;
  padding-left: 5%;
}

.home-aboutBtn {
  width: 45%;
  height: 50px;
  background-color: black;
  color: white;
  font-size: 15px;
  margin-left: 5%;
}
.home-Featured {
  display: grid;
  grid-template-rows: 10% 20rem 18rem 18rem 10%;
  grid-template-columns: 100%;
  grid-gap: 20px;

  margin: 10% auto 20% auto;
  width: 90%;
}

.home-FeaturedH1Top {
  grid-row: 1/2;
  font-size: 35px;
  font-weight: 800;
}
.home-FeaturedBtn {
  grid-row: 5/6;
  margin-bottom: 10%;
}
.home-Featured1 {
  grid-row: 2/3;
  background-image: url(/assets/portfolio/mobile/image-del-sol.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-rows: 60% 20% 20%;
  grid-template-columns: 100%;
  /* flex-direction: column; */
  /* align-self: ; */
  /* align-items: flex-start; */
}
.home-Featured2 {
  grid-row: 3/4;
  grid-column: 1/2;
  background-image: url(/assets/portfolio/mobile/image-228b.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-rows: 60% 20% 20%;
  width: 100%;
}
.home-Featured3 {
  grid-row: 4/5;
  background-image: url(/assets/portfolio/mobile/image-prototype.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-rows: 60% 20% 20%;
}
.home-FeaturedH1 {
  display: none;
}

.home-FeaturedH2 {
  grid-row: 2/3;
  padding-left: 5%;
  color: black;
  font-weight: 1000;
  font-size: 25px;
}
.home-FeaturedBtn {
  grid-row: 3/4;
  padding-left: 0%;
  font-size: 20px;

  width: 40%;
  text-decoration: black;
  background: unset;
  border: none;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  color: #black;
  text-decoration: none;
  cursor: pointer;
}
